body{
    background-color: beige;
    margin: 0%;
}
#wholepage{
    padding: 0px 50px;
}
#home{
    height: 750px;
    background-color: aqua;
    border-radius: 40px;
}
.navbar{
    float: left;
    width: 200px;
    background-color: aliceblue;
    border-radius: 50px;
     
}
.navbar h2{
    text-align: center;
}
#nameplate{
    padding-top: 300px;
    text-align: center;
   /* background-image: url(cap.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}
#nameplate p{
    font-size: 30px;
}


#details{
    height: 750px;
    background-color: blueviolet;
    border-radius: 40px;
}
.details{
    width: 50%;
    float: left;
}
.details h2{
    text-align: center;
    padding-top: 50%;
}
.details img{
    width: 400px;
    align-items: center;
    padding-top: 200px;
}


#skill{
    height: 750px;
    background-color: rgb(0, 255, 47);
    border-radius: 40px;
    margin: 0px;
}
#skill h1{
    text-align: center;
    padding-top: 100px;
}
#skill ul{
    padding-left: 650px;
    
}
#skill ul li{
    padding-top: 60px;
}